body {
    background-image: url("images/pizzabw2.webp");
    
}

.titles {
    text-align: center;
    font-family: 'Marck Script', cursive;
    color: goldenrod;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    
}
 h3,h4,h5,h6,p {
    color: azure;
 }

